<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />


{% block header %}
<style>
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Config {{config}}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="javascript:history.back()">Config</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="coord">X: , Y:</a>
        </li>
      </ul>
      <input class="btn btn-outline-dark" type="submit" value="Submit" />
    </div>
  </div>
</nav>

{% endblock %}

<div style="text-align: center">
  <canvas id="myCanvas"> </canvas>
</div>
<!--width="1280px" height="720px"-->

<img hidden id="scream" src="data:image/jpg;base64,{{ image }}" ismap />

<div class="accordion " id="accordionExample">
  {% for ExistingData in data %} {% set actualIndex = loop.index%}
  <div class="accordion-item" id="accordion-actualIndex">
    <h2 class="accordion-header" id="heading-{{loop.index}}">
      <button
        class="accordion-button collapsed btn-dark"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse{{actualIndex}}"
        aria-expanded="true"
        aria-controls="collapse{{actualIndex}}"
      >
        Config #{{actualIndex}}
        <i class="bi bi-trash" id="config-{{actualIndex}}"></i>
      </button>
    </h2>
    <div
      id="collapse{{actualIndex}}"
      class="accordion-collapse collapse"
      aria-labelledby="heading-{{actualIndex}}"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div class="card text-white bg-dark text-center">
          <ul class="list-group list-group-flush" id="ul-{{actualIndex}}">
            {% if config=="line_intersection_zone" %} 
              {% for eachData in ExistingData %} 
                {% if keys[eachData][1]=="list" %}
                  <div id="content-{{actualIndex}}" class="card-header">
                    {{eachData}}
                    <i class="bi bi-pencil-square" id="{{actualIndex}}-{{eachData}}"></i>
                  </div>
                  <li class="list-group-item bg-dark">
                    X:
                    <input
                      class="X_inputMAX"
                      min="0"
                      style="width: 30%"
                      type="number"
                      id="{{actualIndex}}-{{eachData}}-0"
                      value="{{ExistingData[eachData][0]}}"
                    />
                    Y:
                    <input
                      class="Y_inputMAX"
                      min="0"
                      style="width: 30%"
                      type="number"
                      id="{{actualIndex}}-{{eachData}}-1"
                      value="{{ExistingData[eachData][1]}}"
                    />
                  </li>
                {% else %}
                  <div class="card-header">{{eachData}}</div>

                    <li class="list-group-item bg-dark">
                      <input
                        type="text"
                        class="form-control"
                        id="{{actualIndex}}-{{eachData}}"
                        name="fname"
                        placeholder="{{ExistingData[eachData]}}"
                      />
                    </li>
                {% endif %}  
              {% endfor %} 
            {% elif config=="zone" %} 
              {% for eachData in ExistingData %} 
                {% if keys[eachData][1]=="listoflist" %}
                  <div id="content-{{actualIndex}}" class="card-header">
                    {{eachData}}
                    <i class="bi bi-plus-circle" id="{{actualIndex}}"></i>
                  </div>
                  {% for eachPoint in ExistingData[eachData] %}
                    <li class="list-group-item bg-dark">
                      X:
                      <input
                        class="X_inputMAX"
                        min="0"
                        style="width: 30%"
                        type="number"
                        id="{{actualIndex}}-{{ loop.index}}-0"
                        value="{{eachPoint[0]}}"
                      />
                      Y:
                      <input
                        class="Y_inputMAX"
                        min="0"
                        style="width: 30%"
                        type="number"
                        id="{{actualIndex}}-{{ loop.index}}-1"
                        value="{{eachPoint[1]}}"
                      />
                      <i
                        class="bi bi-pencil-square"
                        id="{{actualIndex}}-{{ loop.index}}"
                      ></i>
                      <i class="bi bi-trash" id="{{actualIndex}}-{{ loop.index}}"></i>
                    </li>
                  {% endfor %} 
                {% else %}
                  <div class="card-header">{{eachData}}</div>
                    <li class="list-group-item bg-dark">
                      <input
                        type="text"
                        class="form-control"
                        id="{{actualIndex}}-{{eachData}}"
                        name="fname"
                        placeholder="{{ExistingData[eachData]}}"
                      />
                    </li>
                {% endif %} 
              {% endfor %} 
            {% elif config=="remove_area" %}
              <div id="content-{{actualIndex}}" class="card-header">
                {{config}}
                <i class="bi bi-plus-circle" id="{{actualIndex}}"></i>
              </div>
              {% for eachData in ExistingData%}
                <li class="list-group-item bg-dark">
                  X:
                  <input
                    class="X_inputMAX"
                    min="0"
                    style="width: 30%"
                    type="number"
                    id="{{actualIndex}}-{{ loop.index}}-0"
                    value="{{eachData[0]}}"
                  />
                  Y:
                  <input
                    class="Y_inputMAX"
                    min="0"
                    style="width: 30%"
                    type="number"
                    id="{{actualIndex}}-{{ loop.index}}-1"
                    value="{{eachData[1]}}"
                  />
                  <i
                    class="bi bi-pencil-square"
                    id="{{actualIndex}}-{{ loop.index}}"
                  ></i>
                  <i class="bi bi-trash" id="{{actualIndex}}-{{ loop.index}}"></i>
                </li>
              {% endfor %} 
            {% endif%}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %} 
    {% set actualIndex = data|length+1%}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-{{actualIndex}}">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse{{actualIndex}}"
          aria-expanded="true"
          aria-controls="collapse{{actualIndex}}"
        >
          New Config #{{actualIndex}}
          <i class="bi bi-trash" id="config-{{actualIndex}}"></i>
        </button>
      </h2>
      <div
        id="collapse{{actualIndex}}"
        class="accordion-collapse collapse"
        aria-labelledby="heading-{{actualIndex}}"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="card text-white bg-dark text-center ">
            <ul id="ul-{{actualIndex}}" class="list-group list-group-flush">
              {% if config=="line_intersection_zone" %} 
              {% for eachData in keys %} 
                {% if keys[eachData][1]=="list" %}
                  <div id="content-{{actualIndex}}" class="card-header">
                    {{eachData}}
                    <i
                      class="bi bi-pencil-square"
                      id="{{actualIndex}}-{{eachData}}"
                    ></i>
                  </div>
                  <li class="list-group-item bg-dark">
                    X:
                    <input
                      class="X_inputMAX CleanInput"
                      min="0"
                      style="width: 30%"
                      type="number"
                      id="{{actualIndex}}-{{eachData}}-0"
                    />
                    Y:
                    <input
                      class="Y_inputMAX CleanInput"
                      min="0"
                      style="width: 30%"
                      type="number"
                      id="{{actualIndex}}-{{eachData}}-1"
                    />
                  </li>
                {% else %}
                  <div class="card-header">{{eachData}}</div>
                  <li class="list-group-item bg-dark">
                    <input
                      class="form-control"
                      type="text"
                      id="{{actualIndex}}-{{eachData}}"
                      name="fname"
                    />
                  </li>
                {% endif %}
              {% endfor %} 
              {% elif config=="zone" %} {%
              for eachData in keys %} {% if keys[eachData][1]=="listoflist" %}
              <div id="content-{{actualIndex}}" class="card-header">
                {{eachData}}
                <i class="bi bi-plus-circle" id="{{actualIndex}}"></i>
              </div>
              {% else %}
              <div class="card-header">{{eachData}}</div>

              <li class="list-group-item bg-dark">
                <input
                  class="form-control"
                  type="text"
                  id="{{actualIndex}}-{{eachData}}"
                  name="fname"
                />
              </li>
              {% endif %} {% endfor %} {% elif config=="remove_area" %}
              <div id="content-{{actualIndex}}" class="card-header">
                {{config}}
                <i class="bi bi-plus-circle" id="{{actualIndex}}"></i>
              </div>

              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var NewConfig_FLAG = false;
  var NewConfig_zone = {
    name_inside_zone: "",
    name_outside_zone: "",
    points: [],
  };
  var NewConfig_line_intersection_zone = {
    name: "",
    start_point: [],
    end_point: [],
    name_zone_before: "",
    name_zone_after: "",
    //id_association: {},
  };
  var NewConfig_remove_area = [];
  var Default_Config_zone = {
    name_inside_zone: "",
    name_outside_zone: "",
    points: [],
  };
  var Default_Config_line_intersection_zone = {
    name: "",
    start_point: [],
    end_point: [],
    name_zone_before: "",
    name_zone_after: "",
    //id_association: {},
  };
  var Default_Config_remove_area = [];

  function drawImage() {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var image = new Image();
    image.src = "data:image/jpg;base64,{{ image }}";

    ctx.canvas.width = image.width;
    ctx.canvas.height = image.height;
    ctx.drawImage(image, 0, 0);
  }

  function scrollToCanvas() {
    $("html,body").animate(
      {
        scrollTop: $("#myCanvas").offset().top,
      },
      "fast"
    );
  }

  $(document).ready(function () {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var image = new Image();
    image.src = "data:image/jpg;base64,{{ image }}";
    console.log(image.width);
    console.log(image.height);

    var data = "{{data}}";
    var parser = new DOMParser();
    var dom = parser.parseFromString(
      "<!doctype html><body>" + data,
      "text/html"
    );
    var decodedString = dom.body.textContent;
    const result = decodedString.split("'").join('"');
    //console.log(result);
    var jsonData = JSON.parse(result);
    console.log(jsonData);

    var elements = document.getElementsByClassName("X_inputMAX");
    for (var i = 0; i < elements.length; i++) {
      elements[i].max = image.width;
    }
    var elements = document.getElementsByClassName("Y_inputMAX");
    for (var i = 0; i < elements.length; i++) {
      elements[i].max = image.height;
    }

    ctx.canvas.width = image.width;
    ctx.canvas.height = image.height;
    ctx.drawImage(image, 0, 0);

    function draw_zone(arrayData) {
      ctx.fillStyle = "#000000";
      ctx.beginPath();
      arrayData.forEach(function (value, i, array) {
        if (i == 0) {
          ctx.moveTo(value[0], value[1]);
        } else {
          ctx.lineTo(value[0], value[1]);
        }
        if (i === array.length - 1) {
          ctx.closePath();
          ctx.stroke();
        }
      });
    }
    function draw_line_intersection_zone(arrayData,arrayData2) {
      ctx.fillStyle = "#000000";
      ctx.beginPath();
      ctx.moveTo(arrayData[0], arrayData[1]);
      ctx.lineTo(arrayData2[0], arrayData2[1]);
      ctx.closePath();
      ctx.stroke();
    }
    function draw_remove_area(arrayData) {
      ctx.fillStyle = "#FFFFFF";
      ctx.beginPath();
      arrayData.forEach(function (value, i, array) {
        if (i == 0) {
          ctx.moveTo(value[0], value[1]);
        } else {
          ctx.lineTo(value[0], value[1]);
        }
        if (i === array.length - 1) {
          ctx.closePath();
          ctx.fill();
        }
      });
    }
    $(document).on("input", ".X_inputMAX", function () {
      valor = $(this).val();
      if ($(this).val() >= ctx.canvas.width) {
        valor = ctx.canvas.width;
      } else if ($(this).val() < 0) {
        valor = 0;
      }
      console.log(this.id);
      var indexes = this.id.split("-");
      var config = "{{config}}";
      switch (config) {
        case "zone":
          if (indexes[0] > jsonData.length) {
            NewConfig_FLAG = true;
            NewConfig_zone["points"][parseInt(indexes[1]) - 1][0] = valor;
            arrayData = NewConfig_zone["points"];
          } else {
            jsonData[parseInt(indexes[0] - 1)]["points"][
              parseInt(indexes[1]) - 1
            ][0] = valor;
            arrayData = jsonData[parseInt(indexes[0] - 1)]["points"];
          }
          drawImage();
          draw_zone(arrayData);
          break;
        case "line_intersection_zone":
          if (indexes[0] > jsonData.length) {
            NewConfig_FLAG = true;
            NewConfig_line_intersection_zone[indexes[1]][0] = valor;
            if ([indexes[1]] == "start_point") {
              arrayData = NewConfig_line_intersection_zone[indexes[1]];
              arrayData2 = NewConfig_line_intersection_zone["end_point"];
            } else {
              arrayData = NewConfig_line_intersection_zone["start_point"];
              arrayData2 = NewConfig_line_intersection_zone[indexes[1]];
            }
          } else {
            jsonData[parseInt(indexes[0] - 1)][indexes[1]][0] = valor;
            if ([indexes[1]] == "start_point") {
              arrayData = jsonData[parseInt(indexes[0] - 1)][indexes[1]];
              arrayData2 = jsonData[parseInt(indexes[0] - 1)]["end_point"];
            } else {
              arrayData = jsonData[parseInt(indexes[0] - 1)]["start_point"];
              arrayData2 = jsonData[parseInt(indexes[0] - 1)][indexes[1]];
            }
          }
          drawImage();
          draw_line_intersection_zone(
            arrayData,
            arrayData2
          );
          break;
        case "remove_area":
          if (indexes[0] > jsonData.length) {
            NewConfig_FLAG = true;
            NewConfig_remove_area[parseInt(indexes[1]) - 1][0] = valor;
            arrayData = NewConfig_remove_area;
          } else {
            jsonData[parseInt(indexes[0] - 1)][parseInt(indexes[1]) - 1][0] =
              valor;
            arrayData = jsonData[parseInt(indexes[0] - 1)];
          }
          drawImage();
          draw_remove_area(arrayData);
          break;
      }
    });
    $(document).on("input", ".Y_inputMAX", function () {
      valor = $(this).val();
      if ($(this).val() >= ctx.canvas.height) {
        valor = ctx.canvas.height;
      } else if ($(this).val() < 0) {
        valor = 0;
      }
      console.log(this.id);
      var indexes = this.id.split("-");
      var config = "{{config}}";
      switch (config) {
        case "zone":
          if (indexes[0] > jsonData.length) {
            NewConfig_FLAG = true;
            NewConfig_zone["points"][parseInt(indexes[1]) - 1][1] = valor;
            arrayData = NewConfig_zone["points"];
          } else {
            jsonData[parseInt(indexes[0] - 1)]["points"][
              parseInt(indexes[1]) - 1
            ][1] = valor;
            arrayData = jsonData[parseInt(indexes[0] - 1)]["points"];
          }
          drawImage();
          draw_zone(arrayData);
          break;
        case "line_intersection_zone":
          if (indexes[0] > jsonData.length) {
            NewConfig_FLAG = true;
            NewConfig_line_intersection_zone[indexes[1]][1] = valor;
            if ([indexes[1]] == "start_point") {
              arrayData = NewConfig_line_intersection_zone[indexes[1]];
              arrayData2 = NewConfig_line_intersection_zone["end_point"];
            } else {
              arrayData = NewConfig_line_intersection_zone["start_point"];
              arrayData2 = NewConfig_line_intersection_zone[indexes[1]];
            }
          } else {
            jsonData[parseInt(indexes[0] - 1)][indexes[1]][1] = valor;
            if ([indexes[1]] == "start_point") {
              arrayData = jsonData[parseInt(indexes[0] - 1)][indexes[1]];
              arrayData2 = jsonData[parseInt(indexes[0] - 1)]["end_point"];
            } else {
              arrayData = jsonData[parseInt(indexes[0] - 1)]["start_point"];
              arrayData2 = jsonData[parseInt(indexes[0] - 1)][indexes[1]];
            }
          }
          drawImage();
          draw_line_intersection_zone(
            arrayData,
            arrayData2
          );
          break;
        case "remove_area":
          if (indexes[0] > jsonData.length) {
            NewConfig_FLAG = true;
            NewConfig_remove_area[parseInt(indexes[1]) - 1][1] = valor;
            arrayData = NewConfig_remove_area;
          } else {
            jsonData[parseInt(indexes[0] - 1)][parseInt(indexes[1]) - 1][1] =
              valor;
            arrayData = jsonData[parseInt(indexes[0] - 1)];
          }
          drawImage();
          draw_remove_area(arrayData);
          break;
      }
    });
    $(document).on("input", ".form-control", function () {
      valor = $(this).val();
      var config = "{{config}}";
      console.log(this.id, valor);
      var indexes = this.id.split("-");
      if (indexes[0] > jsonData.length) {
        NewConfig_FLAG = true;
        switch (config) {
          case "zone":
            NewConfig_zone[indexes[1]] = valor;
            break;
          case "line_intersection_zone":
            NewConfig_line_intersection_zone[indexes[1]] = valor;

            break;
        }
      } else {
        jsonData[parseInt(indexes[0] - 1)][indexes[1]] = valor;
      }
    });
    $(document).on("input", ".form-select", function () {
      valor = $(this).val();
      var config = "{{config}}";
      console.log(this.id, valor);
      var indexes = this.id.split("-");
      if (indexes[0] > jsonData.length) {
        NewConfig_FLAG = true;
        NewConfig_line_intersection_zone[indexes[1]] = valor;
        arrayData = NewConfig_line_intersection_zone["start_point"];
        arrayData2 = NewConfig_line_intersection_zone["end_point"];
      } else {
        jsonData[parseInt(indexes[0] - 1)][indexes[1]] = valor;
        arrayData = jsonData[parseInt(indexes[0] - 1)]["start_point"];
        arrayData2 = jsonData[parseInt(indexes[0] - 1)]["end_point"];
      }
      drawImage();
      draw_line_intersection_zone(arrayData, arrayData2, valor);
    });

    $("#myCanvas").on("mousemove", function (e) {
      var offset = $(this).offset();
      var X = e.pageX - offset.left;
      var Y = e.pageY - offset.top;
      $("#coord").text("X: " + X + ", Y: " + Y);
    });

    $(".btn").on("click", function () {
      console.log("OLA MUNDO");
      var config = "{{config}}";
      if (NewConfig_FLAG) {
        switch (config) {
          case "zone":
            jsonData.push(NewConfig_zone);
            break;
          case "line_intersection_zone":
            jsonData.push(NewConfig_line_intersection_zone);
            break;
          case "remove_area":
            jsonData.push(NewConfig_remove_area);
            break;
        }
      }
      console.log(jsonData);
      let DataSend = {
        data: jsonData,
        configBefore: "{{configBefore}}",
        config: "{{config}}",
        preferred_username: "{{preferred_username}}",
      };
      $.post(window.location.href + "_set", {
        data: JSON.stringify(DataSend),
      }).done(function (data) {
        console.log(data);
        history.back();
      });
    });

    var oldIndex = null;
    var oldType = null;

    //EDIT BUTTON
    $(document).on("click", ".bi-pencil-square", function () {
      //Scroll to top
      scrollToCanvas();
      var StringID = this.id;
      var indexes = StringID.split("-");
      var config = "{{config}}";
      console.log(config);
      switch (config) {
        case "zone":
          $("#myCanvas").one("click", function (e) {
            var offset = $(this).offset();
            X = e.pageX - offset.left;
            Y = e.pageY - offset.top;
            console.log(X, Y);
            console.log(indexes, jsonData.length);
            // Check if is new config
            if (indexes[0] > jsonData.length) {
              NewConfig_FLAG = true;
              NewConfig_zone["points"][parseInt(indexes[1]) - 1][0] =
                parseInt(X);
              NewConfig_zone["points"][parseInt(indexes[1]) - 1][1] =
                parseInt(Y);
              document.getElementById(StringID + "-0").value = parseInt(X);
              document.getElementById(StringID + "-1").value = parseInt(Y);
              arrayData = NewConfig_zone["points"];
            } else {
              jsonData[parseInt(indexes[0] - 1)]["points"][
                parseInt(indexes[1]) - 1
              ][0] = parseInt(X);
              jsonData[parseInt(indexes[0] - 1)]["points"][
                parseInt(indexes[1]) - 1
              ][1] = parseInt(Y);

              document.getElementById(StringID + "-0").value = parseInt(X);
              document.getElementById(StringID + "-1").value = parseInt(Y);

              arrayData = jsonData[parseInt(indexes[0] - 1)]["points"];
            }
            console.log(arrayData);

            drawImage();
            draw_zone(arrayData);
          });

          break;
        case "line_intersection_zone":
          $("#myCanvas").one("click", function (e) {
            var offset = $(this).offset();
            X = e.pageX - offset.left;
            Y = e.pageY - offset.top;
            console.log(X, Y);
            console.log(indexes, jsonData.length);
            // Check if is new config
            if (indexes[0] > jsonData.length) {
              NewConfig_FLAG = true;
              NewConfig_line_intersection_zone[indexes[1]][0] = parseInt(X);
              NewConfig_line_intersection_zone[indexes[1]][1] = parseInt(Y);
              document.getElementById(StringID + "-0").value = parseInt(X);
              document.getElementById(StringID + "-1").value = parseInt(Y);
              if ([indexes[1]] == "start_point") {
                arrayData = NewConfig_line_intersection_zone[indexes[1]];
                arrayData2 = NewConfig_line_intersection_zone["end_point"];
              } else {
                arrayData = NewConfig_line_intersection_zone["start_point"];
                arrayData2 = NewConfig_line_intersection_zone[indexes[1]];
              }
            } else {
              jsonData[parseInt(indexes[0] - 1)][indexes[1]][0] = parseInt(X);
              jsonData[parseInt(indexes[0] - 1)][indexes[1]][1] = parseInt(Y);

              document.getElementById(StringID + "-0").value = parseInt(X);
              document.getElementById(StringID + "-1").value = parseInt(Y);

              arrayData = jsonData[parseInt(indexes[0] - 1)]["points"];
              if ([indexes[1]] == "start_point") {
                arrayData = jsonData[parseInt(indexes[0] - 1)][indexes[1]];
                arrayData2 = jsonData[parseInt(indexes[0] - 1)]["end_point"];
              } else {
                arrayData = jsonData[parseInt(indexes[0] - 1)]["start_point"];
                arrayData2 = jsonData[parseInt(indexes[0] - 1)][indexes[1]];
              }
            }

            //startpoint = arrayData ; endpoint = arrayData2
            drawImage();
            draw_line_intersection_zone(
              arrayData,
              arrayData2
            );
          });

          break;
        case "remove_area":
          $("#myCanvas").one("click", function (e) {
            var offset = $(this).offset();
            X = e.pageX - offset.left;
            Y = e.pageY - offset.top;
            console.log(X, Y);
            console.log(indexes, jsonData.length);
            // Check if is new config
            if (indexes[0] > jsonData.length) {
              NewConfig_FLAG = true;
              NewConfig_remove_area[parseInt(indexes[1]) - 1][0] = parseInt(X);
              NewConfig_remove_area[parseInt(indexes[1]) - 1][1] = parseInt(Y);
              document.getElementById(StringID + "-0").value = parseInt(X);
              document.getElementById(StringID + "-1").value = parseInt(Y);
              arrayData = NewConfig_remove_area;
            } else {
              jsonData[parseInt(indexes[0] - 1)][parseInt(indexes[1]) - 1][0] =
                parseInt(X);
              jsonData[parseInt(indexes[0] - 1)][parseInt(indexes[1]) - 1][1] =
                parseInt(Y);

              document.getElementById(StringID + "-0").value = parseInt(X);
              document.getElementById(StringID + "-1").value = parseInt(Y);

              arrayData = jsonData[parseInt(indexes[0] - 1)];
            }
            console.log("ola", arrayData);

            drawImage();
            draw_remove_area(arrayData);
          });

          break;
      }
    });

    //REMOVE BUTTON
    $(document).on("click", ".bi-trash", function () {
      scrollToCanvas();
      console.log("AQUI", this.id, jsonData.length);
      var StringID = this.id;
      var indexes = StringID.split("-");
      var config = "{{config}}";
      if (indexes[0] == "config") {
        console.log(StringID, indexes[1]);

        //this.parentElement.remove();

        if (indexes[1] > jsonData.length) {
          //atualizar os valores default e remover os dados dos inputs
          NewConfig_FLAG = false;
          var RemoveInputs = document
            .getElementById("ul-" + indexes[1])
            .getElementsByClassName("form-control");
          for (let i = 0; i < RemoveInputs.length; i++) {
            console.log(RemoveInputs[i].id);
            RemoveInputs[i].value = "";
          }
          NewConfig_FLAG = false;
          var RemoveInputs = document
            .getElementById("ul-" + indexes[1])
            .getElementsByClassName("CleanInput");
          for (let i = 0; i < RemoveInputs.length; i++) {
            console.log(RemoveInputs[i].id);
            RemoveInputs[i].value = "";
          }

          switch (config) {
            case "zone":
              NewConfig_zone = Default_Config_zone;

              var galimg = document.getElementById("content-" + indexes[1]);
              var node;

              while ((node = galimg.nextSibling)) {
                node.parentNode.removeChild(node);
              }
              break;
            case "line_intersection_zone":
              NewConfig_line_intersection_zone =
                Default_Config_line_intersection_zone;
              break;
            case "remove_area":
              NewConfig_remove_area = Default_Config_remove_area;
              var galimg = document.getElementById("content-" + indexes[1]);
              var node;

              while ((node = galimg.nextSibling)) {
                node.parentNode.removeChild(node);
              }
              break;
          }
        } else {
          document.getElementById("heading-" + indexes[1]).remove();
          document.getElementById("collapse" + indexes[1]).remove();
          jsonData.splice(indexes[1] - 1, 1);
        }
      } else {
        switch (config) {
          case "zone":
            this.parentElement.remove();
            if (indexes[0] > jsonData.length) {
              NewConfig_zone["points"].splice(indexes[1] - 1, 1);
              arrayData = NewConfig_zone["points"];
            } else {
              jsonData[parseInt(indexes[0] - 1)]["points"].splice(
                indexes[1] - 1,
                1
              );
              arrayData = jsonData[parseInt(indexes[0] - 1)]["points"];
            }

            var ARRAY_X_inputMAX = document
              .getElementById("collapse" + indexes[0])
              .getElementsByClassName("X_inputMAX");
            var ARRAY_Y_inputMAX = document
              .getElementById("collapse" + indexes[0])
              .getElementsByClassName("Y_inputMAX");
            var ARRAY_bi_pencil_square = document
              .getElementById("collapse" + indexes[0])
              .getElementsByClassName("bi-pencil-square");
            var ARRAY_bi_trash = document
              .getElementById("collapse" + indexes[0])
              .getElementsByClassName("bi-trash");
            for (let i = 0; i < arrayData.length; i++) {
              if (i >= indexes[1] - 1) {
                ARRAY_X_inputMAX[i].setAttribute(
                  "id",
                  indexes[0] + "-" + (i + 1) + "-0"
                );
                ARRAY_Y_inputMAX[i].setAttribute(
                  "id",
                  indexes[0] + "-" + (i + 1) + "-1"
                );
                ARRAY_bi_pencil_square[i].setAttribute(
                  "id",
                  indexes[0] + "-" + (i + 1)
                );
                ARRAY_bi_trash[i].setAttribute(
                  "id",
                  indexes[0] + "-" + (i + 1)
                );
              }
            }

            console.log(arrayData);
            drawImage();
            draw_zone(arrayData);

            break;
          case "remove_area":
            this.parentElement.remove();
            if (indexes[0] > jsonData.length) {
              NewConfig_remove_area.splice(indexes[1] - 1, 1);
              arrayData = NewConfig_remove_area;
            } else {
              jsonData[parseInt(indexes[0] - 1)].splice(indexes[1] - 1, 1);
              arrayData = jsonData[parseInt(indexes[0] - 1)];
            }

            var ARRAY_X_inputMAX = document
              .getElementById("collapse" + indexes[0])
              .getElementsByClassName("X_inputMAX");
            var ARRAY_Y_inputMAX = document
              .getElementById("collapse" + indexes[0])
              .getElementsByClassName("Y_inputMAX");
            var ARRAY_bi_pencil_square = document
              .getElementById("collapse" + indexes[0])
              .getElementsByClassName("bi-pencil-square");
            var ARRAY_bi_trash = document
              .getElementById("collapse" + indexes[0])
              .getElementsByClassName("bi-trash");
            for (let i = 0; i < arrayData.length; i++) {
              if (i >= indexes[1] - 1) {
                ARRAY_X_inputMAX[i].setAttribute(
                  "id",
                  indexes[0] + "-" + (i + 1) + "-0"
                );
                ARRAY_Y_inputMAX[i].setAttribute(
                  "id",
                  indexes[0] + "-" + (i + 1) + "-1"
                );
                ARRAY_bi_pencil_square[i].setAttribute(
                  "id",
                  indexes[0] + "-" + (i + 1)
                );
                ARRAY_bi_trash[i].setAttribute(
                  "id",
                  indexes[0] + "-" + (i + 1)
                );
              }
            }
            console.log(arrayData);
            drawImage();
            draw_remove_area(arrayData);
            break;
        }
      }
    });

    //ADD BUTTON
    $(".bi-plus-circle").on("click", function () {
      scrollToCanvas();
      console.log("AQUI", this.id);
      var StringID = this.id;
      var indexes = StringID.split("-");
      var config = "{{config}}";
      console.log(indexes[0]);

      switch (config) {
        case "zone":
          $("#myCanvas").one("click", function (e) {
            var offset = $(this).offset();
            X = e.pageX - offset.left;
            Y = e.pageY - offset.top;
            console.log(X, Y);
            console.log(indexes);
            //Check if is new config

            if (indexes[0] > jsonData.length) {
              NewConfig_FLAG = true;
              NewConfig_zone["points"].push([parseInt(X), parseInt(Y)]);

              var AddValue = `
              <li class="list-group-item bg-dark">
                X:
                <input
                  class="X_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                  id="${indexes[0]}-${NewConfig_zone["points"].length}-0"
                  value="${parseInt(X)}"
                />
                Y:
                <input
                  class="Y_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                  id="${indexes[0]}-${NewConfig_zone["points"].length}-1"
                  value="${parseInt(Y)}"
                />
                <i class="bi bi-pencil-square" id="${indexes[0]}-${
                NewConfig_zone["points"].length
              }"></i>
                <i class="bi bi-trash"id="${indexes[0]}-${
                NewConfig_zone["points"].length
              }"></i>
              </li>
              `;
              arrayData = NewConfig_zone["points"];
            } else {
              jsonData[parseInt(indexes[0] - 1)]["points"].push([
                parseInt(X),
                parseInt(Y),
              ]);

              var AddValue = `
              <li class="list-group-item bg-dark">
                X:
                <input
                  class="X_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                  id="${indexes[0]}-${
                jsonData[parseInt(indexes[0] - 1)]["points"].length
              }-0"
                  value="${parseInt(X)}"
                />
                Y:
                <input
                  class="Y_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                  id="${indexes[0]}-${
                jsonData[parseInt(indexes[0] - 1)]["points"].length
              }-1"
                  value="${parseInt(Y)}"
                />
                <i class="bi bi-pencil-square" id="${indexes[0]}-${
                jsonData[parseInt(indexes[0] - 1)]["points"].length
              }"></i>
                <i class="bi bi-trash"id="${indexes[0]}-${
                jsonData[parseInt(indexes[0] - 1)]["points"].length
              }"></i>
              </li>
              `;
              arrayData = jsonData[parseInt(indexes[0] - 1)]["points"];
            }

            var ul = document.getElementById("ul-" + indexes[0]);
            var mango = ul.children[ul.children.length - 1].insertAdjacentHTML(
              "afterend",
              AddValue
            );
            console.log(arrayData);
            drawImage();
            draw_zone(arrayData);
          });
          break;
        case "remove_area":
          $("#myCanvas").one("click", function (e) {
            var offset = $(this).offset();
            X = e.pageX - offset.left;
            Y = e.pageY - offset.top;
            console.log(X, Y);
            console.log(indexes);
            //Check if is new config

            if (indexes[0] > jsonData.length) {
              NewConfig_FLAG = true;
              NewConfig_remove_area.push([parseInt(X), parseInt(Y)]);

              var AddValue = `
            <li class="list-group-item bg-dark">
              X:
              <input
                class="X_inputMAX"
                min="0"
                style="width: 30%"
                type="number"
                id="${indexes[0]}-${NewConfig_remove_area.length}-0"
                value="${parseInt(X)}"
              />
              Y:
              <input
                class="Y_inputMAX"
                min="0"
                style="width: 30%"
                type="number"
                id="${indexes[0]}-${NewConfig_remove_area.length}-1"
                value="${parseInt(Y)}"
              />
              <i class="bi bi-pencil-square" id="${indexes[0]}-${
                NewConfig_remove_area.length
              }"></i>
              <i class="bi bi-trash"id="${indexes[0]}-${
                NewConfig_remove_area.length
              }"></i>
            </li>
            `;
              arrayData = NewConfig_remove_area;
            } else {
              jsonData[parseInt(indexes[0] - 1)].push([
                parseInt(X),
                parseInt(Y),
              ]);

              var AddValue = `
            <li class="list-group-item bg-dark">
              X:
              <input
                class="X_inputMAX"
                min="0"
                style="width: 30%"
                type="number"
                id="${indexes[0]}-${
                jsonData[parseInt(indexes[0] - 1)].length
              }-0"
                value="${parseInt(X)}"
              />
              Y:
              <input
                class="Y_inputMAX"
                min="0"
                style="width: 30%"
                type="number"
                id="${indexes[0]}-${
                jsonData[parseInt(indexes[0] - 1)].length
              }-1"
                value="${parseInt(Y)}"
              />
              <i class="bi bi-pencil-square" id="${indexes[0]}-${
                jsonData[parseInt(indexes[0] - 1)].length
              }"></i>
              <i class="bi bi-trash"id="${indexes[0]}-${
                jsonData[parseInt(indexes[0] - 1)].length
              }"></i>
            </li>
            `;
              arrayData = jsonData[parseInt(indexes[0] - 1)];
            }

            var ul = document.getElementById("ul-" + indexes[0]);
            var mango = ul.children[ul.children.length - 1].insertAdjacentHTML(
              "afterend",
              AddValue
            );
            console.log(arrayData);
            drawImage();
            draw_remove_area(arrayData);
          });
          break;
      }
    });

    $(".accordion-header").on("click", function () {
      var config = "{{config}}";
      var index = this.id.split("-")[1];
      var IntIndex = parseInt(index) - 1;
      console.log(IntIndex, jsonData.length);
      if (IntIndex > jsonData.length) {
        // Para uma nova configuração
        drawImage();
        oldIndex = null;
        oldType = null;
      } else if (oldIndex === index && oldType === config) {
        // Reset na imagem
        drawImage();
        oldIndex = null;
        oldType = null;
      } else {
        // Mostrar
        drawImage();
        switch (config) {
          case "zone":
            if (IntIndex >= jsonData.length) {
              arrayData = NewConfig_zone["points"];
            } else {
              arrayData = jsonData[IntIndex]["points"];
            }

            draw_zone(arrayData);
            break;
          case "line_intersection_zone":
            if (IntIndex >= jsonData.length) {
              arrayData = NewConfig_line_intersection_zone["start_point"];
              arrayData2 = NewConfig_line_intersection_zone["end_point"];
            } else {
              arrayData = jsonData[IntIndex]["start_point"];
              arrayData2 = jsonData[IntIndex]["end_point"];
            }
            console.log(config);
            draw_line_intersection_zone(
              arrayData,
              arrayData2
            );
            break;
          case "remove_area":
            if (IntIndex >= jsonData.length) {
              arrayData = NewConfig_remove_area;
            } else {
              arrayData = jsonData[IntIndex];
            }
            console.log(arrayData);
            draw_remove_area(arrayData);

            break;
        }

        oldIndex = index;
        oldType = config;
      }
    });
  });
</script>
