<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />



{% block content %}
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="width: 100%">
  <div class="container-fluid">
    <a class="navbar-brand">ID Association</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br />
<div class="row justify-content-center" style="width: 100%">
  <table class="table table-responsive" style="width: 80%">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Config Name</th>
        <th scope="col">Name</th>
        <th scope="col">Config Name</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody id="add_association"></tbody>
  </table>
</div>
<br>


<div style="text-align: center">
  <div class="container">
    <div class="row">
      <div class="col">
        <select   id="select-1" class="form-select " aria-label="Default select example">
        <option class="option_select1" selected id="select-1-" value="">Open this select menu</option>
        {% for value in DataObject %}
        <option  class="option_select1" id="select-1-{{value["preferred_username"]}}" value="{{value["preferred_username"]}}">{{value["preferred_username"]}}</option>
        {% endfor %}
      </select> 
    </div>
      <div class="col">
        <select id="select-2" class="form-select " aria-label="Default select example">
            <option  class="option_select2" selected id="select-2-" value="">Open this select menu</option>
            {% for value in DataObject %}
            <option class="option_select2" id="select-2-{{value["preferred_username"]}}" value="{{value["preferred_username"]}}">{{value["preferred_username"]}}</option>
            {% endfor %}
          </select> 
    </div>
    </div>
    <br>
    <div class="row">
        <div style="display: inline-flex;justify-content: space-between;" class="col">
          <div class="col">
            <select id="option-select-1-1" class="form-select " >
            </select>
          </div> 
        </div>
        <div style="display: inline-flex;justify-content: space-between;" class="col">
          <div class="col">
            <select  id="option-select-2-1" class="form-select " >
            </select>
          </div>
        </div>
      </div>
      <br>
    <div class="row">
      <div class="col">
        <div style="text-align: center">
          <canvas id="myCanvas1"> </canvas>
        </div>
      </div>
      <div class="col">
        <div style="text-align: center">
          <canvas id="myCanvas2"> </canvas>
        </div>
      </div>
    </div>
    </br>
    <input  class="btn btn-dark" type="submit" value="Submit" />
    
  </div>
  
  {% for value in DataObject  %}
  <img hidden src="data:image/jpg;base64,{{ value["frame"] }}" ismap />
  {% endfor %}
</body>
{% endblock %} 


<script>

  $(document).ready(function () {
    class Point {
      constructor(x, y) {
        this.x = x;
  
        this.y = y;
      }
    }
  
    // To find orientation of ordered triplet
    // (p1, p2, p3). The function returns
    // following values
    // 0 --> p, q and r are collinear
    // 1 --> Clockwise
    // 2 --> Counterclockwise
  
    function orientation(p1, p2, p3) {
      // See 10th slides from following link
  
      // for derivation of the formula
  
      let val = (p2.y - p1.y) * (p3.x - p2.x) - (p2.x - p1.x) * (p3.y - p2.y);
  
      if (val == 0) return 0; // collinear
  
      // clock or counterclock wise
  
      return val > 0 ? 1 : 2;
    }
    function drawArrow(ctx, fromx, fromy, tox, toy, arrowWidth, color) {
      //variables to be used when creating the arrow
      var headlen = 10;
      var angle = Math.atan2(toy - fromy, tox - fromx);
  
      ctx.save();
      ctx.strokeStyle = color;
  
      //starting path of the arrow from the start square to the end square
      //and drawing the stroke
      ctx.beginPath();
      ctx.moveTo(fromx, fromy);
      ctx.lineTo(tox, toy);
      ctx.lineWidth = arrowWidth;
      ctx.stroke();
  
      //starting a new path from the head of the arrow to one of the sides of
      //the point
      ctx.beginPath();
      ctx.moveTo(tox, toy);
      ctx.lineTo(
        tox - headlen * Math.cos(angle - Math.PI / 7),
        toy - headlen * Math.sin(angle - Math.PI / 7)
      );
  
      //path from the side point of the arrow, to the other side point
      ctx.lineTo(
        tox - headlen * Math.cos(angle + Math.PI / 7),
        toy - headlen * Math.sin(angle + Math.PI / 7)
      );
  
      //path from the side point back to the tip of the arrow, and then
      //again to the opposite side point
      ctx.lineTo(tox, toy);
      ctx.lineTo(
        tox - headlen * Math.cos(angle - Math.PI / 7),
        toy - headlen * Math.sin(angle - Math.PI / 7)
      );
  
      //draws the paths created above
      ctx.stroke();
      ctx.restore();
    }
    function draw_line_intersection_zone(ctx,arrayData,arrayData2) {
      ctx.fillStyle = "#000000";
      ctx.beginPath();
      ctx.moveTo(arrayData[0], arrayData[1]);
      ctx.lineTo(arrayData2[0], arrayData2[1]);
      ctx.closePath();
      ctx.stroke();

      (centrePointX = (arrayData[0] + arrayData2[0]) / 2),
        (centrePointY = (arrayData[1] + arrayData2[1]) / 2),
        (angle = Math.atan2(
          arrayData2[1] - arrayData[1],
          arrayData2[0] - arrayData[0]
        )),
        (dist = 20);

      startX = Math.sin(angle) * dist + centrePointX;
      startY = -Math.cos(angle) * dist + centrePointY;
      endX = -Math.sin(angle) * dist + centrePointX;
      endY = Math.cos(angle) * dist + centrePointY;
      let o = orientation(
        new Point(arrayData[0], arrayData[1]),
        new Point(arrayData2[0], arrayData2[1]),
        new Point(startX, startY)
        //new Point(endX, endY)
      );

      console.log("orientation", o, startX, startY, endX, endY);
    }
  

    var DataObject="{{DataObject}}"
    var parser = new DOMParser();
    var dom = parser.parseFromString(
      "<!doctype html><body>" + DataObject,
      "text/html"
    );
    var decodedString = dom.body.textContent;
    const result = decodedString.split("'").join('"');
    //console.log(result);
    var jsonData = JSON.parse(result);
    //console.log(jsonData);
    $(document).on("input", "#select-1,#select-2", function () {
        valor = $(this).val();
        var indexes = this.id.split("-");
        if(indexes[1]==1){
          var canvas = document.getElementById("myCanvas1");
          const context = canvas.getContext('2d');
          context.clearRect(0, 0, canvas.width, canvas.height);

            var option_select=document.getElementsByClassName("option_select2")
            for (let i = 0; i < option_select.length; i++) {
                option_select[i].removeAttribute('disabled');
            }
            var select = document.getElementById("option-select-1-1");
            select.innerHTML = "";
            //var select2=document.getElementById("option-select-1-2");
            //select2.innerHTML = ""
            if(valor!=""){
                document.getElementById("select-2-"+valor).setAttribute("disabled",'true')
                for (var i = 0; i < jsonData.length; i++) {
                  if(jsonData[i]["preferred_username"]==valor){
                    drawImage1(jsonData[i]["frame"])
                  for (var j = 0; j<jsonData[i]["line_intersection_zone"].length; j++){
                      var opt = document.createElement('option');
                      opt.value = jsonData[i]["line_intersection_zone"][j]["name"];
                      opt.innerHTML = jsonData[i]["line_intersection_zone"][j]["name"];
                      select.appendChild(opt);
                  }
                  draw_line_intersection_zone(context,jsonData[i]["line_intersection_zone"][0]["start_point"],jsonData[i]["line_intersection_zone"][0]["end_point"])
                  }
                }
            }
        }else{
          var canvas = document.getElementById("myCanvas2");
          const context = canvas.getContext('2d');
          context.clearRect(0, 0, canvas.width, canvas.height);
          var option_select=document.getElementsByClassName("option_select1")
          for (let i = 0; i < option_select.length; i++) {
              option_select[i].removeAttribute('disabled');
          }
          var select = document.getElementById("option-select-2-1");
          select.innerHTML = "";
          //var select2=document.getElementById("option-select-2-2");
          //select2.innerHTML = ""
          if(valor!=""){
              document.getElementById("select-1-"+valor).setAttribute("disabled",'true')
              for (var i = 0; i < jsonData.length; i++) {
                if(jsonData[i]["preferred_username"]==valor){
                  drawImage2(jsonData[i]["frame"])
                  for (var j = 0; j<jsonData[i]["line_intersection_zone"].length; j++){
                    var opt = document.createElement('option');
                    opt.value = jsonData[i]["line_intersection_zone"][j]["name"];
                    opt.innerHTML = jsonData[i]["line_intersection_zone"][j]["name"];
                    if(i==0){
                      opt.setAttribute("selected",'true')
                    }
                    select.appendChild(opt);
                  }
                  draw_line_intersection_zone(context,jsonData[i]["line_intersection_zone"][0]["start_point"],jsonData[i]["line_intersection_zone"][0]["end_point"])
                }
              }
          }
        }
      });

      $(document).on("input", "#option-select-1-1,#option-select-2-1", function () {
        valor = $(this).val();
        var indexes = this.id.split("-");
        //console.log(indexes[2])
        //console.log("option-select-"+indexes[2]+"-1")
        //console.log(document.getElementById("option-select-"+indexes[2]+"-1").value)
        var optionValue=document.getElementById("option-select-"+indexes[2]+"-1").value
        

        var index=document.getElementById("select-"+indexes[2]).value
        var canvas = document.getElementById("myCanvas"+indexes[2]);
        const context = canvas.getContext('2d');
        for (var i = 0; i < jsonData.length; i++) {
          if(jsonData[i]["preferred_username"]==index){
            if(indexes[2]==1){
              drawImage1(jsonData[i]["frame"])

            }else{
              drawImage2(jsonData[i]["frame"])
            }
            //console.log(jsonData[i]["line_intersection_zone"])

            for (var j = 0; j < jsonData[i]["line_intersection_zone"].length; j++) {
              if(jsonData[i]["line_intersection_zone"][j]["name"]==optionValue){
    
                draw_line_intersection_zone(context,jsonData[i]["line_intersection_zone"][j]["start_point"],jsonData[i]["line_intersection_zone"][j]["end_point"])
              }
            }

          }
        }



      });
     /* $(document).on("input", "#option-select-1-2,#option-select-2-2", function () {
        valor = $(this).val();
        var indexes = this.id.split("-");
        console.log(indexes[2])
        console.log("option-select-"+indexes[2]+"-1")
        console.log(document.getElementById("option-select-"+indexes[2]+"-1").value)
        var index2=document.getElementById("option-select-"+indexes[2]+"-1").value
        var index=document.getElementById("select-"+indexes[2]).value
        var canvas = document.getElementById("myCanvas"+indexes[2]);
        const context = canvas.getContext('2d');
        console.log(index,index2)
        for (var i = 0; i < jsonData.length; i++) {
          if(jsonData[i]["preferred_username"]==index){
            if(indexes[2]==1){
              drawImage1(jsonData[i]["frame"])

            }else{
              drawImage2(jsonData[i]["frame"])
            }
            draw_line_intersection_zone(context,jsonData[i]["line_intersection_zone"][index2]["start_point"],jsonData[i]["line_intersection_zone"][index2]["end_point"],valor)
          }
        }
      });*/

      function drawImage1(frame) {
        var c = document.getElementById("myCanvas1");
        var ctx = c.getContext("2d");
        var image = new Image();
        image.src = "data:image/jpg;base64,"+frame;

        c.style.width =image.width/2.5;
        c.style.height = image.height/2.5;

        ctx.canvas.width = image.width;
        ctx.canvas.height = image.height;
        ctx.drawImage(image, 0, 0);
      }
      function drawImage2(frame) {
        var c = document.getElementById("myCanvas2");
        var ctx = c.getContext("2d");
        var image = new Image();
        image.src = "data:image/jpg;base64,"+frame;
    
        c.style.width =image.width/2.5;
        c.style.height = image.height/2.5;

        ctx.canvas.width = image.width;
        ctx.canvas.height = image.height;
        ctx.drawImage(image, 0, 0);
      }
    })
    updateValues();
   
    setInterval(updateValues, 1000);
    var lastUpdateValue = "";

    var AssociationData=null;

    function updateValues() {
      $.getJSON(window.location.href + "/get_association", function (data) {
        //console.log(data.Associations);
        AssociationData=data.Associations
        var htmlInsert = "";
        for (var i = 0; i < data.Associations.length; i++) {
  
          htmlInsert +=
            `<tr>
            <td >${data.Associations[i][1]}</td>
            <td>${data.Associations[i][0]}</td>
            <td >${data.Associations[i][3]}</td>
            <td>${data.Associations[i][2]}</td>
            <td><i class="bi bi-trash" id="delete-${i}"></i></td>
          </tr>`;
        }
  
        //htmlInsert += `</div>`;
        if (lastUpdateValue != htmlInsert) {
          var container = (document.getElementById("add_association").innerHTML =
            htmlInsert);
          lastUpdateValue = htmlInsert;
        }
      });
  
      $("#Refresh").on("click", function () {
        //console.log("{{data}}")
        //console.log(window.location.href + "refresh_all")
        $.get(window.location.href + "refresh_all").done(function (data) {
          //console.log(data);
        });
      });
    }

//REMOVE BUTTON
$(document).on("click", ".bi-trash", function () {
  var StringID = this.id;
  var indexes = StringID.split("-");
  var data=[{"Name":AssociationData[indexes[1]][1],"ConfigName":AssociationData[indexes[1]][0]},{"Name":AssociationData[indexes[1]][3],"ConfigName":AssociationData[indexes[1]][2]}]
  //console.log("AQUI", this.id,AssociationData[indexes[1]],data);
  $.post(window.location.href + "/remove_association", {
    data: JSON.stringify(data),
  }).done(function (data) {
    //console.log(data);
    //history.back();
    location.reload()
  });

  
});


$(".btn").on("click", function () {
  var config = "{{config}}";
  var select1 = document.getElementById("select-1");
  var select2 = document.getElementById("select-2");
  var optionselect1 = document.getElementById("option-select-1-1");
  var optionselect2 = document.getElementById("option-select-2-1");
  
  //console.log(select1.value)
  //console.log(select2.value)
  //console.log(optionselect1.value)
  //console.log(optionselect2.value)

  if(select1.value!= "" && select2.value!= "" && optionselect1.value!= "" && optionselect2.value!= ""){
    var data=[{"Name":select1.value,"ConfigName":optionselect1.value},{"Name":select2.value,"ConfigName":optionselect2.value}]
    $.post(window.location.href + "/add_association", {
      data: JSON.stringify(data),
    }).done(function (data) {
      //console.log(data);
      //history.back();
      location.reload()
    });

  }

  
});



</script>


