<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
/>

{% block header %}
<style>
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  }
</style>

<h1>{% block title %}Config {{config}}{% endblock %}</h1>
{% endblock %}
<p id="coord">X: , Y:</p>
<div style="text-align: center">
  <canvas id="myCanvas"> </canvas>
</div>
<!--width="1280px" height="720px"-->

<img hidden id="scream" src="data:image/jpg;base64,{{ image }}" ismap />

<div class="accordion" id="accordionExample">
  {% for ExistingData in data %} {% set actualIndex = loop.index%}
  <div class="accordion-item" id="accordion-actualIndex">
    <h2 class="accordion-header" id="heading-{{loop.index}}">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse{{actualIndex}}"
        aria-expanded="true"
        aria-controls="collapse{{actualIndex}}"
      >
        Config #{{actualIndex}}
        <i class="bi bi-trash"></i>
      </button>
    </h2>
    <div
      id="collapse{{actualIndex}}"
      class="accordion-collapse collapse"
      aria-labelledby="heading-{{actualIndex}}"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div class="card text-center" style="width: 30%">
          <ul class="list-group list-group-flush" id="ul-{{actualIndex}}">
            {% if config=="line_intersection_zone" %} {% for eachData in
            ExistingData %} {% if keys[eachData][1]=="list" %}
            <div id="content-{{actualIndex}}" class="card-header">
              {{eachData}} <i class="bi bi-pencil-square"></i>
            </div>
            <li class="list-group-item">
              X:
              <input
                class="X_inputMAX"
                min="0"
                style="width: 30%"
                type="number"
                id="{{ExistingData[eachData][0]}}"
                name="{{ExistingData[eachData][0]}}"
                value="{{ExistingData[eachData][0]}}"
              />
              Y:
              <input
                class="Y_inputMAX"
                min="0"
                style="width: 30%"
                type="number"
                id="{{actualIndex}}-points-{{ExistingData[eachData][1]}}"
                name="{{ExistingData[eachData][1]}}"
                value="{{ExistingData[eachData][1]}}"
              />
            </li>
            {% else %}
            <div class="card-header">{{eachData}}</div>

            <li class="list-group-item">
              <input
                type="text"
                id="fname"
                name="fname"
                placeholder="{{ExistingData[eachData]}}"
              />
            </li>
            {% endif %} {% endfor %} {% elif config=="zone" %} {% for eachData
            in ExistingData %} {% if keys[eachData][1]=="listoflist" %}
            <div id="content-{{actualIndex}}" class="card-header">
              {{eachData}}
              <i class="bi bi-plus-circle" id="{{actualIndex}}"></i>
            </div>
            {% for eachPoint in ExistingData[eachData] %}
            <li class="list-group-item">
              X:
              <input
                class="X_inputMAX"
                min="0"
                style="width: 30%"
                type="number"
                id="{{actualIndex}}-{{ loop.index}}-0"
                value="{{eachPoint[0]}}"
              />
              Y:
              <input
                class="Y_inputMAX"
                min="0"
                style="width: 30%"
                type="number"
                id="{{actualIndex}}-{{ loop.index}}-1"
                value="{{eachPoint[1]}}"
              />
              <i
                class="bi bi-pencil-square"
                id="{{actualIndex}}-{{ loop.index}}"
              ></i>
              <i class="bi bi-trash" id="{{actualIndex}}-{{ loop.index}}"></i>
            </li>
            {% endfor %} {% else %}
            <div class="card-header">{{eachData}}</div>

            <li class="list-group-item">
              <input
                type="text"
                id="fname"
                name="fname"
                placeholder="{{ExistingData[eachData]}}"
              />
            </li>
            {% endif %} {% endfor %} {% elif config=="remove_area" %}
            <div id="content-{{actualIndex}}" class="card-header">
              {{config}}
            </div>
            {% for eachData in ExistingData%}
            <li class="list-group-item">
              X:
              <input
                class="X_inputMAX"
                min="0"
                style="width: 30%"
                type="number"
                id="{{eachData[0]}}"
                name="{{eachData[0]}}"
                value="{{eachData[0]}}"
              />
              Y:
              <input
                class="Y_inputMAX"
                min="0"
                style="width: 30%"
                type="number"
                id="{{eachData[1]}}"
                name="{{eachData[1]}}"
                value="{{eachData[1]}}"
              />
              <i class="bi bi-pencil-square"></i>
              <i class="bi bi-trash"></i>
            </li>

            {% endfor %} {% endif%}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %} {% set actualIndex = data|length+1%}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-{{actualIndex}}">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse{{actualIndex}}"
          aria-expanded="true"
          aria-controls="collapse{{actualIndex}}"
        >
          New Config #{{actualIndex}}
          <i class="bi bi-trash"></i>
        </button>
      </h2>
      <div
        id="collapse{{actualIndex}}"
        class="accordion-collapse collapse"
        aria-labelledby="heading-{{actualIndex}}"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="card text-center" style="width: 30%">
            <ul id="ul-{{actualIndex}}" class="list-group list-group-flush">
              {% if config=="line_intersection_zone" %} {% for eachData in keys
              %} {% if keys[eachData][1]=="list" %}
              <div id="content-{{actualIndex}}" class="card-header">
                {{eachData}} <i class="bi bi-pencil-square"></i>
              </div>
              <li class="list-group-item">
                X:
                <input
                  class="X_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                />
                Y:
                <input
                  class="Y_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                />
              </li>

              {% else %}
              <div class="card-header">{{eachData}}</div>

              <li class="list-group-item">
                <input type="text" id="fname" name="fname" />
              </li>
              {% endif %} {% endfor %} {% elif config=="zone" %} {% for eachData
              in keys %} {% if keys[eachData][1]=="listoflist" %}
              <div id="content-{{actualIndex}}" class="card-header">
                {{eachData}}
                <i class="bi bi-plus-circle" id="{{actualIndex}}"></i>
              </div>
              <!--
              <li class="list-group-item">
                X:
                <input
                  class="X_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                />
                Y:
                <input
                  class="Y_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                />
                <i class="bi bi-pencil-square"></i>
                <i class="bi bi-trash"></i>
              </li>
              -->
              {% else %}
              <div class="card-header">{{eachData}}</div>

              <li class="list-group-item">
                <input type="text" id="fname" name="fname" />
              </li>
              {% endif %} {% endfor %} {% elif config=="remove_area" %}
              <div id="content-{{actualIndex}}" class="card-header">
                {{config}}
                <i class="bi bi-plus-circle" id="{{actualIndex}}"></i>
              </div>
              <li class="list-group-item">
                X:
                <input
                  class="X_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                />
                Y:
                <input
                  class="Y_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                />
                <i class="bi bi-pencil-square"></i>
                <i class="bi bi-trash"></i>
              </li>

              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var NewConfigZone = {
    name_inside_zone: "",
    name_outside_zone: "",
    points: [],
  };

  function drawImage() {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var image = new Image();
    image.src = "data:image/jpg;base64,{{ image }}";

    ctx.canvas.width = image.width;
    ctx.canvas.height = image.height;
    ctx.drawImage(image, 0, 0);
  }

  function scrollToCanvas() {
    $("html,body").animate(
      {
        scrollTop: $("#myCanvas").offset().top,
      },
      "fast"
    );
  }

  $(document).ready(function () {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var image = new Image();
    image.src = "data:image/jpg;base64,{{ image }}";
    console.log(image.width);
    console.log(image.height);

    var data = "{{data}}";
    var parser = new DOMParser();
    var dom = parser.parseFromString(
      "<!doctype html><body>" + data,
      "text/html"
    );
    var decodedString = dom.body.textContent;
    const result = decodedString.split("'").join('"');
    //console.log(result);
    var jsonData = JSON.parse(result);
    console.log(jsonData);

    var elements = document.getElementsByClassName("X_inputMAX");
    for (var i = 0; i < elements.length; i++) {
      elements[i].max = image.width;
    }
    var elements = document.getElementsByClassName("Y_inputMAX");
    for (var i = 0; i < elements.length; i++) {
      elements[i].max = image.height;
    }

    ctx.canvas.width = image.width;
    ctx.canvas.height = image.height;
    ctx.drawImage(image, 0, 0);

    $(".X_inputMAX").on("input", function (e) {
      valor = $(this).val();
      if ($(this).val() >= ctx.canvas.width) {
        valor = ctx.canvas.width;
      } else if ($(this).val() < 0) {
        valor = 0;
      }
      console.log(this.id);
      var indexes = this.id.split("-");
      var config = "{{config}}";
      switch (config) {
        case "zone":
          drawImage();
          jsonData[parseInt(indexes[0] - 1)]["points"][
            parseInt(indexes[1]) - 1
          ][0] = valor;
          arrayData = jsonData[parseInt(indexes[0] - 1)]["points"];
          ctx.fillStyle = "#000000";
          ctx.beginPath();
          arrayData.forEach(function (value, i, array) {
            if (i == 0) {
              ctx.moveTo(value[0], value[1]);
            } else {
              ctx.lineTo(value[0], value[1]);
            }
            if (i === array.length - 1) {
              ctx.closePath();
              ctx.stroke();
            }
          });
          break;
        case "line_intersection_zone":
          break;
        case "remove_area":
          break;
      }
    });
    $(".Y_inputMAX").on("input", function (e) {
      valor = $(this).val();
      if ($(this).val() >= ctx.canvas.height) {
        valor = ctx.canvas.height;
      } else if ($(this).val() < 0) {
        valor = 0;
      }
      console.log(this.id);
      var indexes = this.id.split("-");
      var config = "{{config}}";
      switch (config) {
        case "zone":
          jsonData[parseInt(indexes[0] - 1)]["points"][
            parseInt(indexes[1]) - 1
          ][1] = valor;
          arrayData = jsonData[parseInt(indexes[0] - 1)]["points"];
          drawImage();
          ctx.fillStyle = "#000000";
          ctx.beginPath();
          arrayData.forEach(function (value, i, array) {
            if (i == 0) {
              ctx.moveTo(value[0], value[1]);
            } else {
              ctx.lineTo(value[0], value[1]);
            }
            if (i === array.length - 1) {
              ctx.closePath();
              ctx.stroke();
            }
          });
          break;
        case "line_intersection_zone":
          break;
        case "remove_area":
          break;
      }
    });

    $("#myCanvas").on("mousemove", function (e) {
      var offset = $(this).offset();
      var X = e.pageX - offset.left;
      var Y = e.pageY - offset.top;
      $("#coord").text("X: " + X + ", Y: " + Y);
    });

    var oldIndex = null;
    var oldType = null;

    //EDIT BUTTON
    $(document).on("click", ".bi-pencil-square", function () {
      //Scroll to top
      scrollToCanvas();
      var StringID = this.id;
      var indexes = StringID.split("-");
      var config = "{{config}}";
      switch (config) {
        case "zone":
          $("#myCanvas").one("click", function (e) {
            var offset = $(this).offset();
            X = e.pageX - offset.left;
            Y = e.pageY - offset.top;
            console.log(X, Y);
            console.log(indexes, jsonData.length);
            // Check if is new config
            if (indexes[0] > jsonData.length) {
              NewConfigZone["points"][parseInt(indexes[1]) - 1][0] =
                parseInt(X);
              NewConfigZone["points"][parseInt(indexes[1]) - 1][1] =
                parseInt(Y);
              document.getElementById(StringID + "-0").value = parseInt(X);
              document.getElementById(StringID + "-1").value = parseInt(Y);
              arrayData = NewConfigZone["points"];
            } else {
              jsonData[parseInt(indexes[0] - 1)]["points"][
                parseInt(indexes[1]) - 1
              ][0] = parseInt(X);
              jsonData[parseInt(indexes[0] - 1)]["points"][
                parseInt(indexes[1]) - 1
              ][1] = parseInt(Y);

              document.getElementById(StringID + "-0").value = parseInt(X);
              document.getElementById(StringID + "-1").value = parseInt(Y);

              arrayData = jsonData[parseInt(indexes[0] - 1)]["points"];
            }
            console.log(arrayData);

            drawImage();
            ctx.fillStyle = "#000000";
            ctx.beginPath();
            arrayData.forEach(function (value, i, array) {
              if (i == 0) {
                ctx.moveTo(value[0], value[1]);
              } else {
                ctx.lineTo(value[0], value[1]);
              }
              if (i === array.length - 1) {
                ctx.closePath();
                ctx.stroke();
              }
            });
          });

          break;
        case "line_intersection_zone":
          break;
        case "remove_area":
          break;
      }
    });

    //REMOVE BUTTON
    $(document).on("click", ".bi-trash", function () {
      scrollToCanvas();
      console.log("AQUI", this.id, jsonData.length);
      var StringID = this.id;
      var indexes = StringID.split("-");
      var config = "{{config}}";

      switch (config) {
        case "zone":
          this.parentElement.remove();
          if (indexes[0] > jsonData.length) {
            NewConfigZone["points"].splice(indexes[1] - 1, 1);
            arrayData = NewConfigZone["points"];
          } else {
            jsonData[parseInt(indexes[0] - 1)]["points"].splice(
              indexes[1] - 1,
              1
            );
            arrayData = jsonData[parseInt(indexes[0] - 1)]["points"];
          }

          var ARRAY_X_inputMAX = document
            .getElementById("collapse" + indexes[0])
            .getElementsByClassName("X_inputMAX");
          var ARRAY_Y_inputMAX = document
            .getElementById("collapse" + indexes[0])
            .getElementsByClassName("Y_inputMAX");
          var ARRAY_bi_pencil_square = document
            .getElementById("collapse" + indexes[0])
            .getElementsByClassName("bi-pencil-square");
          var ARRAY_bi_trash = document
            .getElementById("collapse" + indexes[0])
            .getElementsByClassName("bi-trash");
          for (let i = 0; i < arrayData.length; i++) {
            if (i >= indexes[1] - 1) {
              ARRAY_X_inputMAX[i].setAttribute(
                "id",
                indexes[0] + "-" + (i + 1) + "-0"
              );
              ARRAY_Y_inputMAX[i].setAttribute(
                "id",
                indexes[0] + "-" + (i + 1) + "-1"
              );
              ARRAY_bi_pencil_square[i].setAttribute(
                "id",
                indexes[0] + "-" + (i + 1)
              );
              ARRAY_bi_trash[i].setAttribute("id", indexes[0] + "-" + (i + 1));
            }
          }

          console.log(arrayData);
          drawImage();
          ctx.fillStyle = "#000000";
          ctx.beginPath();
          arrayData.forEach(function (value, i, array) {
            if (i == 0) {
              ctx.moveTo(value[0], value[1]);
            } else {
              ctx.lineTo(value[0], value[1]);
            }
            if (i === array.length - 1) {
              ctx.closePath();
              ctx.stroke();
            }
          });

          break;
        case "line_intersection_zone":
          break;
        case "remove_area":
          break;
      }
    });
    //ADD BUTTON
    $(".bi-plus-circle").on("click", function () {
      scrollToCanvas();
      console.log("AQUI", this.id);
      var StringID = this.id;
      var indexes = StringID.split("-");
      var config = "{{config}}";
      console.log(indexes[0]);

      switch (config) {
        case "zone":
          $("#myCanvas").one("click", function (e) {
            var offset = $(this).offset();
            X = e.pageX - offset.left;
            Y = e.pageY - offset.top;
            console.log(X, Y);
            console.log(indexes);
            //Check if is new config

            if (indexes[0] > jsonData.length) {
              NewConfigZone["points"].push([parseInt(X), parseInt(Y)]);

              var AddValue = `
              <li class="list-group-item">
                X:
                <input
                  class="X_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                  id="${indexes[0]}-${NewConfigZone["points"].length}-0"
                  value="${parseInt(X)}"
                />
                Y:
                <input
                  class="Y_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                  id="${indexes[0]}-${NewConfigZone["points"].length}-1"
                  value="${parseInt(Y)}"
                />
                <i class="bi bi-pencil-square" id="${indexes[0]}-${
                NewConfigZone["points"].length
              }"></i>
                <i class="bi bi-trash"id="${indexes[0]}-${
                NewConfigZone["points"].length
              }"></i>
              </li>
              `;
              arrayData = NewConfigZone["points"];
            } else {
              jsonData[parseInt(indexes[0] - 1)]["points"].push([
                parseInt(X),
                parseInt(Y),
              ]);

              var AddValue = `
              <li class="list-group-item">
                X:
                <input
                  class="X_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                  id="${indexes[0]}-${
                jsonData[parseInt(indexes[0] - 1)]["points"].length
              }-0"
                  value="${parseInt(X)}"
                />
                Y:
                <input
                  class="Y_inputMAX"
                  min="0"
                  style="width: 30%"
                  type="number"
                  id="${indexes[0]}-${
                jsonData[parseInt(indexes[0] - 1)]["points"].length
              }-1"
                  value="${parseInt(Y)}"
                />
                <i class="bi bi-pencil-square" id="${indexes[0]}-${
                jsonData[parseInt(indexes[0] - 1)]["points"].length
              }"></i>
                <i class="bi bi-trash"id="${indexes[0]}-${
                jsonData[parseInt(indexes[0] - 1)]["points"].length
              }"></i>
              </li>
              `;
              arrayData = jsonData[parseInt(indexes[0] - 1)]["points"];
            }

            var ul = document.getElementById("ul-" + indexes[0]);
            var mango = ul.children[ul.children.length - 1].insertAdjacentHTML(
              "afterend",
              AddValue
            );
            console.log(arrayData);
            drawImage();
            ctx.fillStyle = "#000000";
            ctx.beginPath();
            arrayData.forEach(function (value, i, array) {
              if (i == 0) {
                ctx.moveTo(value[0], value[1]);
              } else {
                ctx.lineTo(value[0], value[1]);
              }
              if (i === array.length - 1) {
                ctx.closePath();
                ctx.stroke();
              }
            });
          });
          break;
        case "line_intersection_zone":
          break;
        case "remove_area":
          break;
      }
    });

    $(".accordion-header").on("click", function () {
      var config = "{{config}}";
      var index = this.id.split("-")[1];
      var IntIndex = parseInt(index) - 1;
      if (IntIndex >= jsonData.length) {
        // Para uma nova configuração
        drawImage();
        oldIndex = null;
        oldType = null;
      } else if (oldIndex === index && oldType === config) {
        // Reset na imagem
        drawImage();
        oldIndex = null;
        oldType = null;
      } else {
        // Mostrar
        switch (config) {
          case "zone":
            console.log(jsonData, IntIndex);
            console.log(jsonData[IntIndex]["points"]);
            arrayData = jsonData[IntIndex]["points"];
            ctx.fillStyle = "#000000";
            ctx.beginPath();
            arrayData.forEach(function (value, i, array) {
              if (i == 0) {
                ctx.moveTo(value[0], value[1]);
              } else {
                ctx.lineTo(value[0], value[1]);
              }
              if (i === array.length - 1) {
                ctx.closePath();
                ctx.stroke();
              }
            });
            break;
          case "line_intersection_zone":
            console.log(config);
            arrayData = jsonData[IntIndex]["start_point"];
            arrayData2 = jsonData[IntIndex]["end_point"];
            ctx.fillStyle = "#000000";
            ctx.beginPath();
            ctx.moveTo(arrayData[0], arrayData[1]);
            ctx.lineTo(arrayData2[0], arrayData2[1]);
            ctx.closePath();
            ctx.stroke();
            break;
          case "remove_area":
            arrayData = jsonData[IntIndex];
            console.log(arrayData);
            ctx.fillStyle = "#FFFFFF";
            ctx.beginPath();
            arrayData.forEach(function (value, i, array) {
              if (i == 0) {
                ctx.moveTo(value[0], value[1]);
              } else {
                ctx.lineTo(value[0], value[1]);
              }
              if (i === array.length - 1) {
                ctx.closePath();
                ctx.fill();
              }
            });

            break;
        }

        oldIndex = index;
        oldType = config;
      }
    });
  });
</script>
