<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
/>

{% block header %}
<style>
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  }
</style>

<h1>{% block title %}Config {{config}}{% endblock %}</h1>
{% endblock %}
<p id="coord">X: , Y:</p>
<canvas id="myCanvas"> </canvas>
<!--width="1280px" height="720px"-->

<img
  hidden
  id="scream"
  src="data:image/jpg;base64,{{ image }}"
  alt="dragon"
  ismap
/>

<div class="accordion" id="accordionExample">
  {% for ExistingData in data %} {% set actualIndex = loop.index%}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-{{actualIndex}}">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse{{actualIndex}}"
        aria-expanded="true"
        aria-controls="collapse{{actualIndex}}"
      >
        Config #{{actualIndex}}
        <i class="bi bi-trash"></i>
      </button>
    </h2>
    <div
      id="collapse{{actualIndex}}"
      class="accordion-collapse collapse"
      aria-labelledby="heading-{{actualIndex}}"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div class="card text-center" style="width: 30%">
          <ul class="list-group list-group-flush">
            {% for eachData in ExistingData %} {% if
            keys[eachData][1]=="listoflist" %}
            <div id="content-{{actualIndex}}" class="card-header">
              {{eachData}} <i class="bi bi-plus-circle"></i>
            </div>
            {% for eachPoint in ExistingData[eachData] %}
            <li class="list-group-item">
              X:
              <input
                style="width: 30%"
                type="number"
                id="{{eachPoint[0]}}"
                name="{{eachPoint[0]}}"
                value="{{eachPoint[0]}}"
              />
              Y:
              <input
                style="width: 30%"
                type="number"
                id="{{eachPoint[1]}}"
                name="{{eachPoint[1]}}"
                value="{{eachPoint[1]}}"
              />
              <i class="bi bi-pencil-square"></i>
              <i class="bi bi-trash"></i>
            </li>
            {% endfor %} {% elif keys[eachData][1]=="list" %}
            <div id="content-{{actualIndex}}" class="card-header">
              {{eachData}}
            </div>
            <label>{{ExistingData[eachData]}}</label>
            {% else %}
            <div class="card-header">{{eachData}}</div>

            <li class="list-group-item">
              <input
                type="text"
                id="fname"
                name="fname"
                placeholder="{{ExistingData[eachData]}}"
              />
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %} {% set actualIndex = data|length+1%}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-{{actualIndex}}">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse{{actualIndex}}"
          aria-expanded="true"
          aria-controls="collapse{{actualIndex}}"
        >
          New Config #{{actualIndex}}
          <i class="bi bi-trash"></i>
        </button>
      </h2>
      <div
        id="collapse{{actualIndex}}"
        class="accordion-collapse collapse"
        aria-labelledby="heading-{{actualIndex}}"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="card text-center" style="width: 30%">
            <ul class="list-group list-group-flush">
              {% for eachData in keys %} {% if keys[eachData][1]=="listoflist"
              %}
              <div id="content-{{actualIndex}}" class="card-header">
                {{eachData}} <i class="bi bi-plus-circle"></i>
              </div>
              <li class="list-group-item">
                X: <input style="width: 30%" type="number" id="0" name="0" /> Y:
                <input style="width: 30%" type="number" id="1" name="0" />
                <i class="bi bi-pencil-square"></i>
                <i class="bi bi-trash"></i>
              </li>
              {% elif keys[eachData][1]=="list" %}
              <div id="content-{{actualIndex}}" class="card-header">
                {{eachData}}
              </div>
              ARRAY {% else %}
              <div class="card-header">{{eachData}}</div>

              <li class="list-group-item">
                <input type="text" id="fname" name="fname" />
              </li>
              {% endif %} {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  function drawImage() {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var image = new Image();
    image.src = "data:image/jpg;base64,{{ image }}";
    ctx.canvas.width = image.width;
    ctx.canvas.height = image.height;
    ctx.drawImage(image, 0, 0);
  }

  $(document).ready(function () {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var image = new Image();
    image.src = "data:image/jpg;base64,{{ image }}";
    ctx.canvas.width = image.width;
    ctx.canvas.height = image.height;
    ctx.drawImage(image, 0, 0);

    $("#myCanvas").on("mousemove", function (e) {
      var offset = $(this).offset();
      var X = e.pageX - offset.left;
      var Y = e.pageY - offset.top;
      $("#coord").text("X: " + X + ", Y: " + Y);
    });
    var data = "{{data}}";
    var parser = new DOMParser();
    var dom = parser.parseFromString(
      "<!doctype html><body>" + data,
      "text/html"
    );
    var decodedString = dom.body.textContent;
    const result = decodedString.split("'").join('"');
    console.log(result);
    var jsonData = JSON.parse(result);
    console.log(jsonData);

    var oldIndex = null;
    var oldType = null;

    $(".accordion-header").click(function () {
      var index = this.id.split("-")[1];
      var element = document
        .getElementById("content-" + index)
        .textContent.replace(/\s/g, "");
      if (oldIndex == null && oldType == null) {
        oldIndex = index;
        oldType = element;

        console.log(jsonData[parseInt(index) - 1][element]);
        arrayData = jsonData[parseInt(index) - 1][element];
        ctx.fillStyle = "#000000";
        ctx.beginPath();
        arrayData.forEach(function (value, i, array) {
          if (i == 0) {
            ctx.moveTo(value[0], value[1]);
          } else {
            ctx.lineTo(value[0], value[1]);
          }
          if (i + 1 === array.length) {
            ctx.closePath();
            if(element=="remove_area"){
              ctx.fill();
            }else{
              ctx.stroke();
            }
          }
        });
      } else if (oldIndex == index && oldType == element) {
        drawImage();
        oldIndex=null
        oldType=null
      } else {
        console.log(jsonData[parseInt(index) - 1][element]);
        arrayData = jsonData[parseInt(index) - 1][element];
        ctx.fillStyle = "#000000";
        ctx.beginPath();
        arrayData.forEach(function (value, i, array) {
          if (i == 0) {
            ctx.moveTo(value[0], value[1]);
          } else {
            ctx.lineTo(value[0], value[1]);
          }
          if (i + 1 === array.length) {
            ctx.closePath();
            if(element=="remove_area"){
              ctx.fill();
            }
          }
        });
      }
    });
  });
</script>
