<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
/>
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >Config Sensor</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
      <input id="SendDevice" class="btn btn-outline-dark" type="submit" value="Send to Device" />
    </div>
    
  </div>
</nav>
<br>
{% endblock %} {% block content %}
<div style="text-align: center">
  <div class="container">
    <div class="row">
      <div class="col"><b>Username: </b> {{data.preferred_username}}</div>
      <div class="col"><b>SensorID: </b> {{data.sensorid}}</div>
    </div>
    <br>
    {% for item in config %} {% if config[item]=="editable" %}
    <div class="row">
      <div class="col"><b>{{item}}</b></div>
      <div class="col">
        <input
        class="form-control"
          type="text"
          id="{{item}}"
          placeholder="{{data.config[item]}}"
        />
      </div>
    </div>
    </br>
    {% elif config[item]=="noneditable" %}
    <div class="row">
      <div class="col"><b>{{item}}</b></div>
      <div class="col">{{data.config[item]}}</div>
    </div>
    <br>
    {% elif config[item]=="button" %}
      {% for item2 in data.config[item] %} {% if item2=="zone" or
      item2=="remove_area" or item2=="line_intersection_zone"%}
      <div class="row">
        <div class="col">
        <form action="config_points" method="POST">
        <input
          hidden
          name="preferred_username"
          value="{{data.preferred_username}}"
        />
        <input hidden name="config" value="{{item}}" />
        <input hidden name="config1" value="{{item2}}" />
        <input  class="btn btn-outline-dark" type="submit" value="{{item2}}" />
        </form>
      </div>
    </br>
    </div>
      {% endif %} {% endfor %} 
      {% endif %} {% endfor %}
    </div>
  </div>
  {% endblock %} 
</div>
<script>
  $(document).ready(function () {
  const isEqual = (...objects) => objects.every(obj => JSON.stringify(obj) === JSON.stringify(objects[0]));
  var data = "{{data.config}}";
  var parser = new DOMParser();
  var dom = parser.parseFromString(
    "<!doctype html><body>" + data,
    "text/html"
    );
    var decodedString = dom.body.textContent;
    console.log(decodedString);
  let result = decodedString.split("'").join('"');
  let result2 = result.replaceAll("None", "null");
  //console.log(result2);
  var jsonData = JSON.parse(result2);
  delete jsonData["input"];
  var jsonDataOriginal=$.extend( true, {}, jsonData );
  //console.log(jsonData);

  $(document).on("input", ".form-control", function () {
    valor = $(this).val();
    //console.log(this.id, valor);
    if(!valor){
      jsonData[this.id]=jsonDataOriginal[this.id]
    }else{
      jsonData[this.id]=valor
    }
    //console.log(jsonData)
  });

  $("#SendDevice").on("click", function () {
    //console.log("{{data}}")
      let DataSend = {
        data: jsonData,
        preferred_username: "{{data.preferred_username}}",
      };
      console.log(DataSend)
      $.post(window.location.href + "_set", {
        data: JSON.stringify(DataSend),
      }).done(function (data) {
        console.log(data);
        window.location.href = window.location.href.replace("config","");
      });
    
    
   
  });


})

</script>