<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
/>

<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />

{% block content %}

<body>
  <nav class="navbar navbar-expand-lg  navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              href="/id_association"
              >ID Association</a
            >
          </li>
        </ul>
        <input
          id="Refresh"
          class="btn btn-outline-dark"
          type="submit"
          value="Refresh All"
        />
      </div>
    </div>
  </nav>
  <br />
  <div class="row justify-content-center" style="width: 100%">
    <table class="table table-responsive" style="width: 80%">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Last Refresh</th>
          <th scope="col">Settings</th>
        </tr>
      </thead>
      <tbody id="container"></tbody>
    </table>
    <!--<div id="container" class="container">
    {% for data in g.dataserver %}

    <div class="row">
      <div class="col">
        <form action="config" method="POST">
          <input
            hidden
            name="preferred_username"
            value="{{data.preferred_username}}"
          />
          <input
            class="btn btn-outline-dark"
            type="submit"
            value="{{data.preferred_username}}"
          />
        </form>
      </div>
    </div>

    {% endfor %}
  </div>-->
  </div>
</body>
{% endblock %}

<script>
  updateValues();
  setInterval(updateValues, 1000);
  var lastUpdateValue = "";
  function updateValues() {
    $.getJSON(window.location.href + "updateDataServer", function (data) {
      console.log(data);
      /*<tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      */
      //var htmlInsert = `<div class="row">`;
      var htmlInsert = "";
      for (var i = 0; i < data.DataServer.length; i++) {
        console.log(data.DataServer[i]);

        htmlInsert +=
          `<tr>
          <td >${data.DataServer[i].preferred_username}</td>` +
          (data.DataServer[i].status == true
            ? `<td  ><i class="bi bi-toggle-on"style="font-size: 170%;" ></i></td>`
            : `<td  ><i class="bi bi-toggle-off"style="font-size: 170%;" ></i></td>`) +
          ` <td>${data.DataServer[i].refresh_date}</td>
          <td><form action="config" method="POST">
            <input
              hidden
              name="preferred_username"
              value="${data.DataServer[i].preferred_username}"
            />
            <input
              class="btn btn-outline-dark"
              type="submit"
              value="Go to"
            />
          </form></td>
        </tr>`;
      }

      //htmlInsert += `</div>`;
      if (lastUpdateValue != htmlInsert) {
        var container = (document.getElementById("container").innerHTML =
          htmlInsert);
        lastUpdateValue = htmlInsert;
      }
    });

    $("#Refresh").on("click", function () {
      //console.log("{{data}}")
      console.log(window.location.href + "refresh_all");
      $.get(window.location.href + "refresh_all").done(function (data) {
        console.log(data);
      });
    });
  }
</script>
