<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    setInterval(updateValues, 1000);

    function updateValues() {
        $.getJSON(window.location.href + 'updateDataServer', function( data ) {
            console.log(data);
            DATA=data
        });
    }


</script>


{% block header %}
<h1>{% block title %}Home {{DATA}} {% endblock %}</h1>
{% endblock %} {% block content %} Welcome home!
<div id="protected_content" style="color: red; padding-top: 20px"></div>
{% endblock %} 
{% block js %} {% for data in g.dataserver %}
<p align="center">
    <form action="config" method="POST">
        <input hidden name="preferred_username" value={{data.preferred_username}}>
        <input type="submit" value={{data.preferred_username}}>
    </form>
</p>

{% endfor %} {% endblock %}
